### ===Task===

1. Load the csv file "howlongwelive.csv" in the resources folder into dataframe

2. Print the first 2 rows, and last 2 rows

3. Print the shape

4. Print the feature names

5. Print the summary using describe()

In [1]:
import pandas as pd 
#====== 1 =======
print("Answer Q1: ")
data = pd.read_csv("../data/howlongwelive.csv") 
#====== 2 =======
print("Answer Q2: ")
data.iloc[:2,:]

Answer Q1:
Answer Q2:

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0

In [2]:
data.iloc[-2:,:]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.0,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.0,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [3]:
#====== 3 =======
print("Answer Q3: ")
print(data.shape)
#====== 4 =======
print("Answer Q4: ")
print(data.keys())
#====== 5 =======
print("Answer Q5: ")
data.describe()

Answer Q3:
(2938, 22)
Answer Q4:
Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')
Answer Q5:

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000


6. Since Hepatatis B has a lot of nans, and highly correlate with Diptheria, simply drop column Hepatatis.  Also drop column Population since there are way too many nans (1 or 0pt)

7. Convert <code>Status</code> to 0 or 1, where 0 is developing

8. Rename column <code>thinness_1-19_years</code> to <code>thinness_10-19_years</code>

9. Grab all columns except life expectancy, and convert to numpy array called it X

10. Grab the column life expetancy and convert to numpy array and called it y

In [4]:
#====== 6 =======
print("Answer Q6: ")
data.drop(columns=['Hepatitis B','Population'],  inplace=True)
print(data.keys())
print(data.head())
#====== 7 =======
print("Answer Q7: ")
import numpy as np
ixd_1 = np.where(data['Status'] == 'Developed')
ixd_0 = np.where(data['Status']== 'Developing')
for i in ixd_1:
    data.iloc[i,2] = 1
for i in ixd_0:
    data.iloc[i,2] = 0
print(data.head())
#====== 8 =======
print("Answer Q8: ")
data.rename(columns={" thinness  1-19 years": "thinness_10-19_years"}, inplace=True)
print(data.keys())
#====== 9 =======
print("Answer Q9: ")
X = data.drop(columns = ['Life expectancy '])
print(X)
#====== 10 =======
print("Answer Q10: ")
import numpy as np
y = np.array(data['Life expectancy '])
print(y)

Answer Q6:
Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Measles ',
       ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', ' thinness  1-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')
       Country  Year      Status  Life expectancy   Adult Mortality  \
0  Afghanistan  2015  Developing              65.0            263.0
1  Afghanistan  2014  Developing              59.9            271.0
2  Afghanistan  2013  Developing              59.9            268.0
3  Afghanistan  2012  Developing              59.5            272.0
4  Afghanistan  2011  Developing              59.2            275.0

   infant deaths  Alcohol  percentage expenditure  Measles    BMI   \
0             62     0.01               71.279624      1154   19.1
1             64     0.01               73.523582       492   18.6
2             66     0.01               73.219243       430   18.1
3             69     0.01               78.184215      2787   17.6
4             71     0.01                7.097109      3013   17.2

   under-five deaths   Polio  Total expenditure  Diphtheria    HIV/AIDS  \
0                  83    6.0               8.16         65.0        0.1
1                  86   58.0               8.18         62.0        0.1
2                  89   62.0               8.13         64.0        0.1
3                  93   67.0               8.52         67.0        0.1
4                  97   68.0               7.87         68.0        0.1

          GDP   thinness  1-19 years   thinness 5-9 years  \
0  584.259210                   17.2                 17.3
1  612.696514                   17.5                 17.5
2  631.744976                   17.7                 17.7
3  669.959000                   17.9                 18.0
4   63.537231                   18.2                 18.2

   Income composition of resources  Schooling
0                            0.479       10.1
1                            0.476       10.0
2                            0.470        9.9
3                            0.463        9.8
4                            0.454        9.5
Answer Q7:
       Country  Year Status  Life expectancy   Adult Mortality  infant deaths  \
0  Afghanistan  2015      0              65.0            263.0             62
1  Afghanistan  2014      0              59.9            271.0             64
2  Afghanistan  2013      0              59.9            268.0             66
3  Afghanistan  2012      0              59.5            272.0             69
4  Afghanistan  2011      0              59.2            275.0             71

   Alcohol  percentage expenditure  Measles    BMI   under-five deaths   \
0     0.01               71.279624      1154   19.1                  83
1     0.01               73.523582       492   18.6                  86
2     0.01               73.219243       430   18.1                  89
3     0.01               78.184215      2787   17.6                  93
4     0.01                7.097109      3013   17.2                  97

   Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
0    6.0               8.16         65.0        0.1  584.259210
1   58.0               8.18         62.0        0.1  612.696514
2   62.0               8.13         64.0        0.1  631.744976
3   67.0               8.52         67.0        0.1  669.959000
4   68.0               7.87         68.0        0.1   63.537231

    thinness  1-19 years   thinness 5-9 years  \
0                   17.2                 17.3
1                   17.5                 17.5
2                   17.7                 17.7
3                   17.9                 18.0
4                   18.2                 18.2

   Income composition of resources  Schooling
0                            0.479       10.1
1                            0.476       10.0
2                            0.470        9.9
3                            0.463        9.8
4                            0.454        9.5
Answer Q8:
Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Measles ',
       ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'thinness_10-19_years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')
Answer Q9:
          Country  Year Status  Adult Mortality  infant deaths  Alcohol  \
0     Afghanistan  2015      0            263.0             62     0.01
1     Afghanistan  2014      0            271.0             64     0.01
2     Afghanistan  2013      0            268.0             66     0.01
3     Afghanistan  2012      0            272.0             69     0.01
4     Afghanistan  2011      0            275.0             71     0.01
...           ...   ...    ...              ...            ...      ...
2933     Zimbabwe  2004      0            723.0             27     4.36
2934     Zimbabwe  2003      0            715.0             26     4.06
2935     Zimbabwe  2002      0             73.0             25     4.43
2936     Zimbabwe  2001      0            686.0             25     1.72
2937     Zimbabwe  2000      0            665.0             24     1.68

      percentage expenditure  Measles    BMI   under-five deaths   Polio  \
0                  71.279624      1154   19.1                  83    6.0
1                  73.523582       492   18.6                  86   58.0
2                  73.219243       430   18.1                  89   62.0
3                  78.184215      2787   17.6                  93   67.0
4                   7.097109      3013   17.2                  97   68.0
...                      ...       ...    ...                 ...    ...
2933                0.000000        31   27.1                  42   67.0
2934                0.000000       998   26.7                  41    7.0
2935                0.000000       304   26.3                  40   73.0
2936                0.000000       529   25.9                  39   76.0
2937                0.000000      1483   25.5                  39   78.0

      Total expenditure  Diphtheria    HIV/AIDS         GDP  \
0                  8.16         65.0        0.1  584.259210
1                  8.18         62.0        0.1  612.696514
2                  8.13         64.0        0.1  631.744976
3                  8.52         67.0        0.1  669.959000
4                  7.87         68.0        0.1   63.537231
...                 ...          ...        ...         ...
2933               7.13         65.0       33.6  454.366654
2934               6.52         68.0       36.7  453.351155
2935               6.53         71.0       39.8   57.348340
2936               6.16         75.0       42.1  548.587312
2937               7.10         78.0       43.5  547.358879

      thinness_10-19_years   thinness 5-9 years  \
0                     17.2                 17.3
1                     17.5                 17.5
2                     17.7                 17.7
3                     17.9                 18.0
4                     18.2                 18.2
...                    ...                  ...
2933                   9.4                  9.4
2934                   9.8                  9.9
2935                   1.2                  1.3
2936                   1.6                  1.7
2937                  11.0                 11.2

      Income composition of resources  Schooling
0                               0.479       10.1
1                               0.476       10.0
2                               0.470        9.9
3                               0.463        9.8
4                               0.454        9.5
...                               ...        ...
2933                            0.407        9.2
2934                            0.418        9.5
2935                            0.427       10.0
2936                            0.427        9.8
2937                            0.434        9.8

[2938 rows x 19 columns]
Answer Q10:
[65.  59.9 59.9 ... 44.8 45.3 46. ]

### ===Task===

1. Continuing "howlongwelive.csv", check whether which column has how many missing data

2. Fix all missing data using means

3. Perform a <code>groupby</code> country.  Which country has the lowest/highest life expectancy?

4. Perform a <code>groupby</code> status.  Is there any strong difference between developed and developing countries in their life expectancy?

5. Create another dataframe manually with 2 columns. First column is the ID column with same value as country column. Also add another column Noise_level, and populate with random values (whatever you like).  

6. Merge the two datasets together based on the ID column.

In [5]:
#====== 1 =======
print("Answer Q1: ")
np.sum(data.isnull())

Answer Q1:

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
thinness_10-19_years                34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [6]:
#====== 2 =======
print("Answer Q2: ")
data.fillna(data.mean(),inplace=True)

Answer Q2:

In [7]:
print(np.sum(data.isnull()))

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
thinness_10-19_years               0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [13]:
#====== 3 =======
print("Answer Q3: ")
data_LifeExpectancy = data.groupby('Country').mean()['Life expectancy ']
data_LifeExpectancy.sort_values()

Answer Q3:

Country
Sierra Leone                46.11250
Central African Republic    48.51250
Lesotho                     48.78125
Angola                      49.01875
Malawi                      49.89375
                              ...
France                      82.21875
Switzerland                 82.33125
Iceland                     82.44375
Sweden                      82.51875
Japan                       82.53750
Name: Life expectancy , Length: 193, dtype: float64

In [14]:
#====== 4 =======
print("Answer Q4: ")
data_LifeExpectancy = data.groupby('Status').mean()['Life expectancy ']
data_LifeExpectancy.sort_values()

Answer Q4:

Status
0    67.120177
1    79.197852
Name: Life expectancy , dtype: float64

In [33]:
#====== 5 =======
print("Answer Q5: ")
Noise_level = np.random.uniform(0,1,(data["Country"].shape))
hi = pd.DataFrame({
    "Country": data["Country"],
    "Noise_level": Noise_level
})
hi

Answer Q5:

          Country  Noise_level
0     Afghanistan     0.589066
1     Afghanistan     0.891211
2     Afghanistan     0.435776
3     Afghanistan     0.060121
4     Afghanistan     0.095258
...           ...          ...
2933     Zimbabwe     0.755245
2934     Zimbabwe     0.875182
2935     Zimbabwe     0.696882
2936     Zimbabwe     0.121223
2937     Zimbabwe     0.859885

[2938 rows x 2 columns]

In [35]:
#====== 6 =======
print("Answer Q6: ")
data = data.merge(hi, on="Country")
data.head()

Answer Q6:

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,thinness_10-19_years,thinness 5-9 years,Income composition of resources,Schooling,Noise_level
0,Afghanistan,2015,0,65.0,263.0,62,0.01,71.279624,1154,19.1,...,6.0,8.16,65.0,0.1,584.25921,17.2,17.3,0.479,10.1,0.589066
1,Afghanistan,2015,0,65.0,263.0,62,0.01,71.279624,1154,19.1,...,6.0,8.16,65.0,0.1,584.25921,17.2,17.3,0.479,10.1,0.891211
2,Afghanistan,2015,0,65.0,263.0,62,0.01,71.279624,1154,19.1,...,6.0,8.16,65.0,0.1,584.25921,17.2,17.3,0.479,10.1,0.435776
3,Afghanistan,2015,0,65.0,263.0,62,0.01,71.279624,1154,19.1,...,6.0,8.16,65.0,0.1,584.25921,17.2,17.3,0.479,10.1,0.060121
4,Afghanistan,2015,0,65.0,263.0,62,0.01,71.279624,1154,19.1,...,6.0,8.16,65.0,0.1,584.25921,17.2,17.3,0.479,10.1,0.095258

### ===Task===

1. Load "data/appl_1980_2014.csv" into df

2. Transform dta column to datetime type

3. Then filter only with year not less than 1987

4. Sort the index in an ascending order (oldest date first) - use sort_index

5. We want to know how apple does on end of every month, thus get the mean value for each columns, resample at last buiness day of each month (i.e., BM)

6. BTW, how many months do we have in our data?

7. Compare the differences between this year and last year High column, using shift(), where the differences is simply this_year - last_year.  Plot this graph, where x-axis is date, and y-axis is the gain/loss

8. Perform a rolling mean (moving average) of Close with window size of 100 days

9. Load microsoft data using this code <code>microsoft = data.DataReader('MSFT', start='1987', end='2014', data_source='yahoo')</code>.  Compare Apple and Microsoft of their return rate of "close" price based on year 2000 onward, where the formula is simply <code>close price / close price [0]</code> where close price [0] is simply the first close price of year 2000.